<p>Test de simple form</p>

<%= simple_form_for @task , wrapper: :inline_form, html: { class: 'form-inline' } do |f| %>
  <%= f.input :name, label: false, placeholder: 'Name Task' %>
  <%= f.input :ending_date, label: false %>
  <%= f.input :category_id, as: :radio_buttons, collection: [['1', 'urgent & important'], ['2', 'urgent & pas important'], ['3', 'pas urgent & important'], ['4', 'pas urgent & pas important']], label_method: :second, value_method: :first %>
  <%= f.submit "Add a new task", class: "btn btn-primary" %>
<% end %>


<div id="root"></div>

<% content_for :after_js do %>
  <%= javascript_pack_tag "tasks" %>
<% end %>
