<p>Test de simple form</p>

<%= simple_form_for(@task) do |f| %>
  <%= f.input :name %>
  <%= f.input :ending_date %>
  <%= f.submit "add a task", class: "btn btn-primary" %>
<% end %>


<div id="root"></div>

<% content_for :after_js do %>
  <%= javascript_pack_tag "tasks" %>
<% end %>
