<p>Test de simple form</p>

<%= simple_form_for(@task) do |f| %>
  <%= f.input :name %>
  <%= f.input :ending_date %>
  <%= f.input :category_id, as: :radio_buttons, collection: [['1', 'female'], ['2', 'male'], ['3', 'urgent'], ['4', 'important']], label_method: :second, value_method: :first %>
  <%= f.submit "add a task", class: "btn btn-primary" %>
<% end %>


<div id="root"></div>

<% content_for :after_js do %>
  <%= javascript_pack_tag "tasks" %>
<% end %>
